* { margin: 0; padding: 0 }

body {
  user-select: none; -webkit-user-select: none; -moz-user-select: none; /* disable text selection */
  font-family: Ubuntu, "Lucida Grande", sans-serif;
  background: #ccc;
  overflow: hidden;
}

#overlay {
  position: absolute; left: 10px; right: 10px; bottom: 10px;
  z-index: 1337;
  background: #111; color: #fff;
  padding: 5px;
  -webkit-box-shadow: 2px 2px 15px #222;
}

h1 {
  font-size: 20px; font-weight: normal;
}

canvas {
  position: absolute;
}

.mousedown canvas {
  cursor: move;
}
